<div class="container-fluid">
  
<div class="row">
  <div class="col-sm-6 bg-uke-authorization_<%= user_signed_in? %>">
      <br>
      <% unless user_signed_in? %>
        <h3 class="center"><%= fa_icon('lock', text: ' Wymagana autoryzacja' ) %></h3>
      <% else %>
        <h3 class="center"><%= fa_icon('unlock', text: " #{current_user.first_name} #{current_user.last_name}, #{current_user.email}" ) %></h3>
      <% end %>


      <ul class="timeline">

        <%= render "login_esod", cached: true %>
        <%#= render "login_esod_admin", cached: true if current_user&.role == 'bi-wur' %> 
        <%= render "login_esod_admin", cached: true %> 
        <%= render "login_pue", cached: true %>
        <%= render "login_pit", cached: true %>
        <%= render "login_intranet", cached: true %>
        <%= render "login_szkolenia", cached: true %>
        <%= render "login_netpar2015", cached: true %>
        <%= render "login_pola", cached: true %>
        <%= render "login_egzaminy", cached: true %>

      </ul>
  </div>

  <div class="col-sm-6 bg-uke-noauthorization">
      <br>
      <h3 class="center"><%= fa_icon('lock-open', text: ' Systemy bez autoryzacji' ) %></h3>

      <ul class="timeline">

        <%= render "nologin_legalis", cached: true %>
        <%= render "nologin_amator", cached: true %>
        <%= render "nologin_wyszukiwarka", cached: true %>
        <%= render "nologin_confirmation", cached: true %>
        <%= render "nologin_mapbook", cached: true %>
        <%= render "nologin_numeracja", cached: true %>

      </ul>
  </div>

</div>

<div class="container">
  <h2 class="center">Legenda</h2>

  <ul class="timeline">

    <li>
      <div class="timeline-badge info"><i class="fa fa-globe-americas"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
          <p>System przeznaczony dla użytkowników zewnętrznych, dostępny w internecie, wymagający autoryzacji</p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge default"><i class="fa fa-globe-americas"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
          <p>System przeznaczony dla użytkowników zewnętrznych, dostępny w internecie, nie wymagający autoryzacji</p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge info"><i class="fa fa-cloud"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
          <p>System przeznaczony dla pracowników UKE, również dostępny w internecie, wymagający autoryzacji</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge success"><span class="fa fa-home"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
          <p>System wewnętrzny przeznaczony dla pracowników UKE, wymagający autoryzacji</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge default"><span class="fa fa-home"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
          <p>System wewnętrzny przeznaczony dla pracowników UKE, nie wymagający autoryzacji</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge danger">BI</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
          <p>Panele administracyjne i programy narzędziowe przeznaczone dla administratorów</p>
        </div>
      </div>
    </li>


  </ul>
</div>
