<!-- 
<li>
  <%#= link_to "#extend_applications_area", "data-toggle" => "collapse" do %>
    <span class="fa fa-user-cog"></span>&nbsp;Strefa Administratora
  <%# end %>
</li>
-->
<% if user_signed_in? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&nbsp;<%= current_user.user_name %> <span class="caret"></span></a>

    <ul class="dropdown-menu">

      <% unless Rails.application.secrets[:idp_for_production_instance] %>
      <li>
        <%= link_to websites_my_account_path do %>
          <span class="fa fa-cog"></span>&nbsp;<%=t "devise.link_to.edit_registration" %>
        <% end %>
      </li>
      <% end %>

      <li>
        <%= link_to destroy_user_session_path, :method=>'delete' do %>
          <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%=t "devise.link_to.sign_out" %>
        <% end %>
      </li>

    </ul>
  </li>

<% else %>
  <%# if request_from_the_security_area? %>
    <li><%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%=t "devise.link_to.sign_in" %>
      <% end %>
    </li>
  <%# end %>
<% end %>



<% unless "#{locale}" == "en" %>
  <li>
    <%#= link_to image_tag('en.png', alt: 'EN', class: "img img-thumbnail", width: 28), { locale: :en } %>
  </li>
<% end %>
<% unless "#{locale}" == "pl" %>
  <li>
    <%#= link_to image_tag('pl.png', alt: 'PL', class: "img img-thumbnail", width: 28), { locale: :pl } %>
  </li>
<% end %>
